this is for identifying all NaNs, and fill them again with the values acquired from the requests.

r5 result NA handling.

Pick out the nan pairs, and query the travel time separately, to fill up the nans.


Step 1: 
Read in the r5 matrix, and get the OD pairs:

In [2]:
#from r5py import TransportNetwork, TravelTimeMatrixComputer
#,DetailedItinerariesComputer

In [1]:
import numpy as np
import r5py
import pandas as pd
from scipy.stats import ttest_rel, wilcoxon
import seaborn as sns
import matplotlib.pyplot as plt
import datetime
import geopandas as gpd
from shapely.geometry import Point
from r5py import TravelTimeMatrixComputer
from r5py import TransportNetwork

import sys

set up R5 running parameter

In [2]:
sys.argv.append(["--max-memory", "12G"])

In [3]:
r5TTM = pd.read_csv(r'/mnt/d/University College London/Chen, Huanfa - Dissertation_Mengyu_Ding/Data/greater_london_od_mat_all/withNaN/r5_od_mat.csv', encoding='latin1')

In [4]:
r5TTM.shape

(1002, 1003)

In [5]:
r5TTM.head()

,originID,E02000001,E02000002,E02000003,E02000004,E02000005,E02000007,E02000008,E02000009,E02000010,...,E02007083,E02007084,E02007108,E02007109,E02007110,E02007111,E02007112,E02007113,E02007114,E02007115
0,E02000001,0.0,37.0,34.0,35.0,32.0,33.0,30.0,29.0,30.0,...,22.0,23.0,12.0,12.0,9.0,7.0,19.0,19.0,20.0,10.0
1,E02000002,37.0,0.0,9.0,13.0,12.0,14.0,13.0,12.0,16.0,...,51.0,52.0,29.0,31.0,34.0,34.0,26.0,26.0,27.0,43.0
2,E02000003,33.0,5.0,0.0,9.0,4.0,6.0,6.0,6.0,8.0,...,46.0,48.0,26.0,28.0,31.0,31.0,21.0,21.0,22.0,41.0
3,E02000004,35.0,15.0,9.0,1.0,8.0,5.0,8.0,9.0,7.0,...,49.0,50.0,34.0,36.0,39.0,38.0,24.0,24.0,25.0,45.0
4,E02000005,31.0,10.0,4.0,7.0,0.0,4.0,3.0,5.0,5.0,...,45.0,46.0,30.0,32.0,35.0,34.0,20.0,19.0,21.0,41.0

In [6]:
r5TTM.set_index('originID', inplace=True)

In [7]:
# Set diagonal elements to 0
for i in range(len(r5TTM)):
    r5TTM.iat[i, i] = 0

In [8]:
# count total nans:
print(r5TTM.isnull().sum().sum())

873

Step 2 after handling diagonal values, look in to nan, we have 870+ nans now.

In [9]:
nan_indices = []
for i in range(len(r5TTM)):
    for j in range(len(r5TTM.columns)):
        if pd.isnull(r5TTM.iat[i, j]):
            nan_indices.append((r5TTM.index[i], r5TTM.columns[j]))

In [10]:
nan_indices

[('E02000372', 'E02000001'),
 ('E02000372', 'E02000002'),
 ('E02000372', 'E02000003'),
 ('E02000372', 'E02000004'),
 ('E02000372', 'E02000005'),
 ('E02000372', 'E02000007'),
 ('E02000372', 'E02000008'),
 ('E02000372', 'E02000009'),
 ('E02000372', 'E02000010'),
 ('E02000372', 'E02000011'),
 ('E02000372', 'E02000012'),
 ('E02000372', 'E02000013'),
 ('E02000372', 'E02000014'),
 ('E02000372', 'E02000015'),
 ('E02000372', 'E02000016'),
 ('E02000372', 'E02000017'),
 ('E02000372', 'E02000018'),
 ('E02000372', 'E02000019'),
 ('E02000372', 'E02000020'),
 ('E02000372', 'E02000021'),
 ('E02000372', 'E02000022'),
 ('E02000372', 'E02000023'),
 ('E02000372', 'E02000024'),
 ('E02000372', 'E02000025'),
 ('E02000372', 'E02000026'),
 ('E02000372', 'E02000027'),
 ('E02000372', 'E02000028'),
 ('E02000372', 'E02000029'),
 ('E02000372', 'E02000030'),
 ('E02000372', 'E02000031'),
 ('E02000372', 'E02000032'),
 ('E02000372', 'E02000033'),
 ('E02000372', 'E02000034'),
 ('E02000372', 'E02000035'),
 ('E02000372', 'E02000036'),
 ('E02000372', 'E02000037'),
 ('E02000372', 'E02000038'),
 ('E02000372', 'E02000039'),
 ('E02000372', 'E02000040'),
 ('E02000372', 'E02000041'),
 ('E02000372', 'E02000042'),
 ('E02000372', 'E02000043'),
 ('E02000372', 'E02000044'),
 ('E02000372', 'E02000045'),
 ('E02000372', 'E02000046'),
 ('E02000372', 'E02000047'),
 ('E02000372', 'E02000048'),
 ('E02000372', 'E02000049'),
 ('E02000372', 'E02000050'),
 ('E02000372', 'E02000051'),
 ('E02000372', 'E02000052'),
 ('E02000372', 'E02000054'),
 ('E02000372', 'E02000055'),
 ('E02000372', 'E02000056'),
 ('E02000372', 'E02000057'),
 ('E02000372', 'E02000058'),
 ('E02000372', 'E02000059'),
 ('E02000372', 'E02000060'),
 ('E02000372', 'E02000065'),
 ('E02000372', 'E02000066'),
 ('E02000372', 'E02000067'),
 ('E02000372', 'E02000068'),
 ('E02000372', 'E02000069'),
 ('E02000372', 'E02000070'),
 ('E02000372', 'E02000071'),
 ('E02000372', 'E02000072'),
 ('E02000372', 'E02000073'),
 ('E02000372', 'E02000074'),
 ('E02000372', 'E02000075'),
 ('E02000372', 'E02000077'),
 ('E02000372', 'E02000078'),
 ('E02000372', 'E02000079'),
 ('E02000372', 'E02000080'),
 ('E02000372', 'E02000081'),
 ('E02000372', 'E02000082'),
 ('E02000372', 'E02000083'),
 ('E02000372', 'E02000084'),
 ('E02000372', 'E02000085'),
 ('E02000372', 'E02000086'),
 ('E02000372', 'E02000087'),
 ('E02000372', 'E02000088'),
 ('E02000372', 'E02000089'),
 ('E02000372', 'E02000090'),
 ('E02000372', 'E02000091'),
 ('E02000372', 'E02000092'),
 ('E02000372', 'E02000093'),
 ('E02000372', 'E02000094'),
 ('E02000372', 'E02000095'),
 ('E02000372', 'E02000096'),
 ('E02000372', 'E02000097'),
 ('E02000372', 'E02000098'),
 ('E02000372', 'E02000099'),
 ('E02000372', 'E02000100'),
 ('E02000372', 'E02000105'),
 ('E02000372', 'E02000108'),
 ('E02000372', 'E02000127'),
 ('E02000372', 'E02000128'),
 ('E02000372', 'E02000130'),
 ('E02000372', 'E02000131'),
 ('E02000372', 'E02000132'),
 ('E02000372', 'E02000133'),
 ('E02000372', 'E02000134'),
 ('E02000372', 'E02000135'),
 ('E02000372', 'E02000136'),
 ('E02000372', 'E02000137'),
 ('E02000372', 'E02000138'),
 ('E02000372', 'E02000139'),
 ('E02000372', 'E02000140'),
 ('E02000372', 'E02000141'),
 ('E02000372', 'E02000142'),
 ('E02000372', 'E02000144'),
 ('E02000372', 'E02000145'),
 ('E02000372', 'E02000146'),
 ('E02000372', 'E02000147'),
 ('E02000372', 'E02000148'),
 ('E02000372', 'E02000149'),
 ('E02000372', 'E02000150'),
 ('E02000372', 'E02000151'),
 ('E02000372', 'E02000152'),
 ('E02000372', 'E02000153'),
 ('E02000372', 'E02000154'),
 ('E02000372', 'E02000155'),
 ('E02000372', 'E02000156'),
 ('E02000372', 'E02000157'),
 ('E02000372', 'E02000158'),
 ('E02000372', 'E02000159'),
 ('E02000372', 'E02000160'),
 ('E02000372', 'E02000161'),
 ('E02000372', 'E02000162'),
 ('E02000372', 'E02000163'),
 ('E02000372', 'E02000165'),
 ('E02000372', 'E02000166'),
 ('E02000372', 'E02000167'),
 ('E02000372', 'E02000168'),
 ('E02000372', 'E02000171'),
 ('E02000372', 'E02000172'),
 ('E02000372', 'E02000174'),
 ('E02000372', 'E02000177'),
 ('E02000372', 'E02000180'),
 ('E02000372', 'E02000184'),
 ('E02000372', 'E02000186'),
 ('E02000372', 'E02000187'),
 ('E02000372', 'E02000188'),
 ('E02000372', 'E02000191'),
 ('E02000372', 'E02000192'),
 ('E02000372', 'E02000193'),
 ('E02000372', 'E02000194'),
 ('E02000372', 'E02000195'),
 ('E02000372', 'E02000196'),
 ('E02000372', 'E02000197'),
 ('E02000372', 'E02000198'),
 ('E02000372', 'E02000199'),
 ('E02000372', 'E02000200'),
 ('E02000372', 'E02000201'),
 ('E02000372', 'E02000202'),
 ('E02000372', 'E02000203'),
 ('E02000372', 'E02000204'),
 ('E02000372', 'E02000206'),
 ('E02000372', 'E02000207'),
 ('E02000372', 'E02000208'),
 ('E02000372', 'E02000209'),
 ('E02000372', 'E02000210'),
 ('E02000372', 'E02000211'),
 ('E02000372', 'E02000212'),
 ('E02000372', 'E02000213'),
 ('E02000372', 'E02000214'),
 ('E02000372', 'E02000215'),
 ('E02000372', 'E02000216'),
 ('E02000372', 'E02000217'),
 ('E02000372', 'E02000218'),
 ('E02000372', 'E02000219'),
 ('E02000372', 'E02000221'),
 ('E02000372', 'E02000222'),
 ('E02000372', 'E02000223'),
 ('E02000372', 'E02000224'),
 ('E02000372', 'E02000225'),
 ('E02000372', 'E02000226'),
 ('E02000372', 'E02000227'),
 ('E02000372', 'E02000228'),
 ('E02000372', 'E02000229'),
 ('E02000372', 'E02000230'),
 ('E02000372', 'E02000231'),
 ('E02000372', 'E02000232'),
 ('E02000372', 'E02000233'),
 ('E02000372', 'E02000234'),
 ('E02000372', 'E02000235'),
 ('E02000372', 'E02000236'),
 ('E02000372', 'E02000237'),
 ('E02000372', 'E02000238'),
 ('E02000372', 'E02000239'),
 ('E02000372', 'E02000240'),
 ('E02000372', 'E02000241'),
 ('E02000372', 'E02000243'),
 ('E02000372', 'E02000245'),
 ('E02000372', 'E02000246'),
 ('E02000372', 'E02000247'),
 ('E02000372', 'E02000249'),
 ('E02000372', 'E02000251'),
 ('E02000372', 'E02000253'),
 ('E02000372', 'E02000254'),
 ('E02000372', 'E02000259'),
 ('E02000372', 'E02000260'),
 ('E02000372', 'E02000263'),
 ('E02000372', 'E02000266'),
 ('E02000372', 'E02000267'),
 ('E02000372', 'E02000272'),
 ('E02000372', 'E02000275'),
 ('E02000372', 'E02000277'),
 ('E02000372', 'E02000278'),
 ('E02000372', 'E02000279'),
 ('E02000372', 'E02000280'),
 ('E02000372', 'E02000281'),
 ('E02000372', 'E02000282'),
 ('E02000372', 'E02000283'),
 ('E02000372', 'E02000284'),
 ('E02000372', 'E02000285'),
 ('E02000372', 'E02000286'),
 ('E02000372', 'E02000287'),
 ('E02000372', 'E02000288'),
 ('E02000372', 'E02000289'),
 ('E02000372', 'E02000290'),
 ('E02000372', 'E02000291'),
 ('E02000372', 'E02000292'),
 ('E02000372', 'E02000293'),
 ('E02000372', 'E02000294'),
 ('E02000372', 'E02000295'),
 ('E02000372', 'E02000296'),
 ('E02000372', 'E02000297'),
 ('E02000372', 'E02000298'),
 ('E02000372', 'E02000299'),
 ('E02000372', 'E02000300'),
 ('E02000372', 'E02000301'),
 ('E02000372', 'E02000302'),
 ('E02000372', 'E02000303'),
 ('E02000372', 'E02000304'),
 ('E02000372', 'E02000305'),
 ('E02000372', 'E02000306'),
 ('E02000372', 'E02000307'),
 ('E02000372', 'E02000308'),
 ('E02000372', 'E02000309'),
 ('E02000372', 'E02000311'),
 ('E02000372', 'E02000312'),
 ('E02000372', 'E02000313'),
 ('E02000372', 'E02000314'),
 ('E02000372', 'E02000315'),
 ('E02000372', 'E02000317'),
 ('E02000372', 'E02000318'),
 ('E02000372', 'E02000319'),
 ('E02000372', 'E02000320'),
 ('E02000372', 'E02000321'),
 ('E02000372', 'E02000323'),
 ('E02000372', 'E02000324'),
 ('E02000372', 'E02000326'),
 ('E02000372', 'E02000327'),
 ('E02000372', 'E02000328'),
 ('E02000372', 'E02000329'),
 ('E02000372', 'E02000331'),
 ('E02000372', 'E02000332'),
 ('E02000372', 'E02000333'),
 ('E02000372', 'E02000334'),
 ('E02000372', 'E02000335'),
 ('E02000372', 'E02000337'),
 ('E02000372', 'E02000339'),
 ('E02000372', 'E02000340'),
 ('E02000372', 'E02000341'),
 ('E02000372', 'E02000342'),
 ('E02000372', 'E02000343'),
 ('E02000372', 'E02000344'),
 ('E02000372', 'E02000345'),
 ('E02000372', 'E02000346'),
 ('E02000372', 'E02000347'),
 ('E02000372', 'E02000348'),
 ('E02000372', 'E02000350'),
 ('E02000372', 'E02000351'),
 ('E02000372', 'E02000352'),
 ('E02000372', 'E02000353'),
 ('E02000372', 'E02000354'),
 ('E02000372', 'E02000355'),
 ('E02000372', 'E02000356'),
 ('E02000372', 'E02000357'),
 ('E02000372', 'E02000358'),
 ('E02000372', 'E02000359'),
 ('E02000372', 'E02000360'),
 ('E02000372', 'E02000361'),
 ('E02000372', 'E02000362'),
 ('E02000372', 'E02000363'),
 ('E02000372', 'E02000364'),
 ('E02000372', 'E02000366'),
 ('E02000372', 'E02000367'),
 ('E02000372', 'E02000368'),
 ('E02000372', 'E02000369'),
 ('E02000372', 'E02000370'),
 ('E02000372', 'E02000394'),
 ('E02000372', 'E02000396'),
 ('E02000372', 'E02000397'),
 ('E02000372', 'E02000398'),
 ('E02000372', 'E02000400'),
 ('E02000372', 'E02000401'),
 ('E02000372', 'E02000402'),
 ('E02000372', 'E02000403'),
 ('E02000372', 'E02000404'),
 ('E02000372', 'E02000405'),
 ('E02000372', 'E02000406'),
 ('E02000372', 'E02000407'),
 ('E02000372', 'E02000408'),
 ('E02000372', 'E02000409'),
 ('E02000372', 'E02000410'),
 ('E02000372', 'E02000411'),
 ('E02000372', 'E02000412'),
 ('E02000372', 'E02000413'),
 ('E02000372', 'E02000414'),
 ('E02000372', 'E02000415'),
 ('E02000372', 'E02000416'),
 ('E02000372', 'E02000417'),
 ('E02000372', 'E02000418'),
 ('E02000372', 'E02000419'),
 ('E02000372', 'E02000420'),
 ('E02000372', 'E02000421'),
 ('E02000372', 'E02000422'),
 ('E02000372', 'E02000423'),
 ('E02000372', 'E02000424'),
 ('E02000372', 'E02000425'),
 ('E02000372', 'E02000426'),
 ('E02000372', 'E02000427'),
 ('E02000372', 'E02000428'),
 ('E02000372', 'E02000429'),
 ('E02000372', 'E02000430'),
 ('E02000372', 'E02000431'),
 ('E02000372', 'E02000432'),
 ('E02000372', 'E02000433'),
 ('E02000372', 'E02000434'),
 ('E02000372', 'E02000435'),
 ('E02000372', 'E02000436'),
 ('E02000372', 'E02000437'),
 ('E02000372', 'E02000438'),
 ('E02000372', 'E02000439'),
 ('E02000372', 'E02000440'),
 ('E02000372', 'E02000441'),
 ('E02000372', 'E02000442'),
 ('E02000372', 'E02000443'),
 ('E02000372', 'E02000444'),
 ('E02000372', 'E02000445'),
 ('E02000372', 'E02000447'),
 ('E02000372', 'E02000448'),
 ('E02000372', 'E02000449'),
 ('E02000372', 'E02000451'),
 ('E02000372', 'E02000452'),
 ('E02000372', 'E02000453'),
 ('E02000372', 'E02000454'),
 ('E02000372', 'E02000455'),
 ('E02000372', 'E02000456'),
 ('E02000372', 'E02000457'),
 ('E02000372', 'E02000459'),
 ('E02000372', 'E02000460'),
 ('E02000372', 'E02000461'),
 ('E02000372', 'E02000462'),
 ('E02000372', 'E02000463'),
 ('E02000372', 'E02000464'),
 ('E02000372', 'E02000465'),
 ('E02000372', 'E02000466'),
 ('E02000372', 'E02000467'),
 ('E02000372', 'E02000468'),
 ('E02000372', 'E02000469'),
 ('E02000372', 'E02000470'),
 ('E02000372', 'E02000471'),
 ('E02000372', 'E02000472'),
 ('E02000372', 'E02000473'),
 ('E02000372', 'E02000474'),
 ('E02000372', 'E02000475'),
 ('E02000372', 'E02000476'),
 ('E02000372', 'E02000477'),
 ('E02000372', 'E02000478'),
 ('E02000372', 'E02000479'),
 ('E02000372', 'E02000480'),
 ('E02000372', 'E02000481'),
 ('E02000372', 'E02000482'),
 ('E02000372', 'E02000483'),
 ('E02000372', 'E02000484'),
 ('E02000372', 'E02000485'),
 ('E02000372', 'E02000486'),
 ('E02000372', 'E02000487'),
 ('E02000372', 'E02000488'),
 ('E02000372', 'E02000489'),
 ('E02000372', 'E02000490'),
 ('E02000372', 'E02000491'),
 ('E02000372', 'E02000492'),
 ('E02000372', 'E02000493'),
 ('E02000372', 'E02000494'),
 ('E02000372', 'E02000495'),
 ('E02000372', 'E02000496'),
 ('E02000372', 'E02000497'),
 ('E02000372', 'E02000498'),
 ('E02000372', 'E02000499'),
 ('E02000372', 'E02000500'),
 ('E02000372', 'E02000501'),
 ('E02000372', 'E02000502'),
 ('E02000372', 'E02000503'),
 ('E02000372', 'E02000504'),
 ('E02000372', 'E02000506'),
 ('E02000372', 'E02000507'),
 ('E02000372', 'E02000508'),
 ('E02000372', 'E02000509'),
 ('E02000372', 'E02000510'),
 ('E02000372', 'E02000511'),
 ('E02000372', 'E02000512'),
 ('E02000372', 'E02000513'),
 ('E02000372', 'E02000514'),
 ('E02000372', 'E02000515'),
 ('E02000372', 'E02000516'),
 ('E02000372', 'E02000517'),
 ('E02000372', 'E02000518'),
 ('E02000372', 'E02000519'),
 ('E02000372', 'E02000520'),
 ('E02000372', 'E02000521'),
 ('E02000372', 'E02000522'),
 ('E02000372', 'E02000523'),
 ('E02000372', 'E02000524'),
 ('E02000372', 'E02000525'),
 ('E02000372', 'E02000529'),
 ('E02000372', 'E02000530'),
 ('E02000372', 'E02000531'),
 ('E02000372', 'E02000534'),
 ('E02000372', 'E02000535'),
 ('E02000372', 'E02000536'),
 ('E02000372', 'E02000537'),
 ('E02000372', 'E02000538'),
 ('E02000372', 'E02000539'),
 ('E02000372', 'E02000540'),
 ('E02000372', 'E02000541'),
 ('E02000372', 'E02000542'),
 ('E02000372', 'E02000543'),
 ('E02000372', 'E02000544'),
 ('E02000372', 'E02000545'),
 ('E02000372', 'E02000546'),
 ('E02000372', 'E02000547'),
 ('E02000372', 'E02000548'),
 ('E02000372', 'E02000549'),
 ('E02000372', 'E02000550'),
 ('E02000372', 'E02000551'),
 ('E02000372', 'E02000552'),
 ('E02000372', 'E02000553'),
 ('E02000372', 'E02000554'),
 ('E02000372', 'E02000555'),
 ('E02000372', 'E02000556'),
 ('E02000372', 'E02000557'),
 ('E02000372', 'E02000558'),
 ('E02000372', 'E02000559'),
 ('E02000372', 'E02000560'),
 ('E02000372', 'E02000561'),
 ('E02000372', 'E02000562'),
 ('E02000372', 'E02000563'),
 ('E02000372', 'E02000564'),
 ('E02000372', 'E02000565'),
 ('E02000372', 'E02000566'),
 ('E02000372', 'E02000567'),
 ('E02000372', 'E02000568'),
 ('E02000372', 'E02000569'),
 ('E02000372', 'E02000570'),
 ('E02000372', 'E02000571'),
 ('E02000372', 'E02000572'),
 ('E02000372', 'E02000573'),
 ('E02000372', 'E02000574'),
 ('E02000372', 'E02000575'),
 ('E02000372', 'E02000576'),
 ('E02000372', 'E02000594'),
 ('E02000372', 'E02000598'),
 ('E02000372', 'E02000599'),
 ('E02000372', 'E02000600'),
 ('E02000372', 'E02000601'),
 ('E02000372', 'E02000602'),
 ('E02000372', 'E02000603'),
 ('E02000372', 'E02000604'),
 ('E02000372', 'E02000605'),
 ('E02000372', 'E02000606'),
 ('E02000372', 'E02000607'),
 ('E02000372', 'E02000608'),
 ('E02000372', 'E02000609'),
 ('E02000372', 'E02000610'),
 ('E02000372', 'E02000611'),
 ('E02000372', 'E02000612'),
 ('E02000372', 'E02000613'),
 ('E02000372', 'E02000614'),
 ('E02000372', 'E02000615'),
 ('E02000372', 'E02000616'),
 ('E02000372', 'E02000617'),
 ('E02000372', 'E02000619'),
 ('E02000372', 'E02000620'),
 ('E02000372', 'E02000621'),
 ('E02000372', 'E02000622'),
 ('E02000372', 'E02000623'),
 ('E02000372', 'E02000624'),
 ('E02000372', 'E02000625'),
 ('E02000372', 'E02000626'),
 ('E02000372', 'E02000627'),
 ('E02000372', 'E02000628'),
 ('E02000372', 'E02000629'),
 ('E02000372', 'E02000630'),
 ('E02000372', 'E02000631'),
 ('E02000372', 'E02000632'),
 ('E02000372', 'E02000633'),
 ('E02000372', 'E02000634'),
 ('E02000372', 'E02000635'),
 ('E02000372', 'E02000636'),
 ('E02000372', 'E02000637'),
 ('E02000372', 'E02000638'),
 ('E02000372', 'E02000639'),
 ('E02000372', 'E02000640'),
 ('E02000372', 'E02000641'),
 ('E02000372', 'E02000642'),
 ('E02000372', 'E02000643'),
 ('E02000372', 'E02000644'),
 ('E02000372', 'E02000645'),
 ('E02000372', 'E02000646'),
 ('E02000372', 'E02000647'),
 ('E02000372', 'E02000648'),
 ('E02000372', 'E02000649'),
 ('E02000372', 'E02000650'),
 ('E02000372', 'E02000651'),
 ('E02000372', 'E02000652'),
 ('E02000372', 'E02000653'),
 ('E02000372', 'E02000654'),
 ('E02000372', 'E02000655'),
 ('E02000372', 'E02000657'),
 ('E02000372', 'E02000658'),
 ('E02000372', 'E02000659'),
 ('E02000372', 'E02000660'),
 ('E02000372', 'E02000661'),
 ('E02000372', 'E02000662'),
 ('E02000372', 'E02000663'),
 ('E02000372', 'E02000665'),
 ('E02000372', 'E02000666'),
 ('E02000372', 'E02000667'),
 ('E02000372', 'E02000668'),
 ('E02000372', 'E02000669'),
 ('E02000372', 'E02000670'),
 ('E02000372', 'E02000671'),
 ('E02000372', 'E02000672'),
 ('E02000372', 'E02000673'),
 ('E02000372', 'E02000674'),
 ('E02000372', 'E02000675'),
 ('E02000372', 'E02000676'),
 ('E02000372', 'E02000677'),
 ('E02000372', 'E02000678'),
 ('E02000372', 'E02000679'),
 ('E02000372', 'E02000680'),
 ('E02000372', 'E02000681'),
 ('E02000372', 'E02000682'),
 ('E02000372', 'E02000683'),
 ('E02000372', 'E02000685'),
 ('E02000372', 'E02000686'),
 ('E02000372', 'E02000687'),
 ('E02000372', 'E02000689'),
 ('E02000372', 'E02000690'),
 ('E02000372', 'E02000691'),
 ('E02000372', 'E02000692'),
 ('E02000372', 'E02000693'),
 ('E02000372', 'E02000694'),
 ('E02000372', 'E02000695'),
 ('E02000372', 'E02000696'),
 ('E02000372', 'E02000697'),
 ('E02000372', 'E02000698'),
 ('E02000372', 'E02000699'),
 ('E02000372', 'E02000700'),
 ('E02000372', 'E02000701'),
 ('E02000372', 'E02000702'),
 ('E02000372', 'E02000703'),
 ('E02000372', 'E02000704'),
 ('E02000372', 'E02000705'),
 ('E02000372', 'E02000706'),
 ('E02000372', 'E02000707'),
 ('E02000372', 'E02000708'),
 ('E02000372', 'E02000709'),
 ('E02000372', 'E02000710'),
 ('E02000372', 'E02000711'),
 ('E02000372', 'E02000712'),
 ('E02000372', 'E02000713'),
 ('E02000372', 'E02000714'),
 ('E02000372', 'E02000715'),
 ('E02000372', 'E02000716'),
 ('E02000372', 'E02000717'),
 ('E02000372', 'E02000718'),
 ('E02000372', 'E02000719'),
 ('E02000372', 'E02000720'),
 ('E02000372', 'E02000721'),
 ('E02000372', 'E02000722'),
 ('E02000372', 'E02000723'),
 ('E02000372', 'E02000724'),
 ('E02000372', 'E02000725'),
 ('E02000372', 'E02000727'),
 ('E02000372', 'E02000728'),
 ('E02000372', 'E02000729'),
 ('E02000372', 'E02000730'),
 ('E02000372', 'E02000731'),
 ('E02000372', 'E02000732'),
 ('E02000372', 'E02000733'),
 ('E02000372', 'E02000734'),
 ('E02000372', 'E02000735'),
 ('E02000372', 'E02000736'),
 ('E02000372', 'E02000737'),
 ('E02000372', 'E02000738'),
 ('E02000372', 'E02000739'),
 ('E02000372', 'E02000740'),
 ('E02000372', 'E02000741'),
 ('E02000372', 'E02000742'),
 ('E02000372', 'E02000743'),
 ('E02000372', 'E02000744'),
 ('E02000372', 'E02000745'),
 ('E02000372', 'E02000746'),
 ('E02000372', 'E02000747'),
 ('E02000372', 'E02000748'),
 ('E02000372', 'E02000749'),
 ('E02000372', 'E02000751'),
 ('E02000372', 'E02000752'),
 ('E02000372', 'E02000753'),
 ('E02000372', 'E02000754'),
 ('E02000372', 'E02000755'),
 ('E02000372', 'E02000756'),
 ('E02000372', 'E02000757'),
 ('E02000372', 'E02000758'),
 ('E02000372', 'E02000759'),
 ('E02000372', 'E02000760'),
 ('E02000372', 'E02000762'),
 ('E02000372', 'E02000763'),
 ('E02000372', 'E02000764'),
 ('E02000372', 'E02000765'),
 ('E02000372', 'E02000767'),
 ('E02000372', 'E02000768'),
 ('E02000372', 'E02000770'),
 ('E02000372', 'E02000772'),
 ('E02000372', 'E02000773'),
 ('E02000372', 'E02000774'),
 ('E02000372', 'E02000776'),
 ('E02000372', 'E02000777'),
 ('E02000372', 'E02000779'),
 ('E02000372', 'E02000781'),
 ('E02000372', 'E02000782'),
 ('E02000372', 'E02000783'),
 ('E02000372', 'E02000785'),
 ('E02000372', 'E02000787'),
 ('E02000372', 'E02000788'),
 ('E02000372', 'E02000789'),
 ('E02000372', 'E02000790'),
 ('E02000372', 'E02000791'),
 ('E02000372', 'E02000792'),
 ('E02000372', 'E02000793'),
 ('E02000372', 'E02000794'),
 ('E02000372', 'E02000795'),
 ('E02000372', 'E02000796'),
 ('E02000372', 'E02000797'),
 ('E02000372', 'E02000798'),
 ('E02000372', 'E02000799'),
 ('E02000372', 'E02000800'),
 ('E02000372', 'E02000801'),
 ('E02000372', 'E02000802'),
 ('E02000372', 'E02000803'),
 ('E02000372', 'E02000804'),
 ('E02000372', 'E02000805'),
 ('E02000372', 'E02000806'),
 ('E02000372', 'E02000807'),
 ('E02000372', 'E02000808'),
 ('E02000372', 'E02000810'),
 ('E02000372', 'E02000812'),
 ('E02000372', 'E02000813'),
 ('E02000372', 'E02000814'),
 ('E02000372', 'E02000815'),
 ('E02000372', 'E02000816'),
 ('E02000372', 'E02000817'),
 ('E02000372', 'E02000818'),
 ('E02000372', 'E02000819'),
 ('E02000372', 'E02000820'),
 ('E02000372', 'E02000821'),
 ('E02000372', 'E02000822'),
 ('E02000372', 'E02000823'),
 ('E02000372', 'E02000824'),
 ('E02000372', 'E02000825'),
 ('E02000372', 'E02000826'),
 ('E02000372', 'E02000827'),
 ('E02000372', 'E02000828'),
 ('E02000372', 'E02000829'),
 ('E02000372', 'E02000830'),
 ('E02000372', 'E02000831'),
 ('E02000372', 'E02000832'),
 ('E02000372', 'E02000833'),
 ('E02000372', 'E02000834'),
 ('E02000372', 'E02000835'),
 ('E02000372', 'E02000836'),
 ('E02000372', 'E02000837'),
 ('E02000372', 'E02000838'),
 ('E02000372', 'E02000839'),

Step 3 use the ID pairs to get coord pairs:

In [11]:
# Set up the R5 network
#osm_file = r'/mnt/d/Downloads/greater-london-latest.osm(1).pbf'
#r5_network = r5py.TransportNetwork(osm_file)

msoa_london = pd.read_csv(r'/mnt/d/University College London/Chen, Huanfa - Dissertation_Mengyu_Ding/Data/msoa/processed/gld_msoa_centroids.csv', encoding='latin1')
# see if the column msoa21cd is unique:
msoa_london['msoa21cd'].nunique() == msoa_london.shape[0]

# follow this format: [{"lat": ..., "lng": ...}, ...]

# new dict origin: 1002 maoas
all_MSOA_coord_dict = {}

# for reference dict, read the msoa_london, use msoa21cd as key, lat and lon as value:
for i in range(msoa_london.shape[0]):
    msoaID = msoa_london.iloc[i, 3]
    lat = msoa_london.iloc[i, 8]
    lon = msoa_london.iloc[i, 9]
    #origin_coord.append({"lat": lat, "lng": lon})
    all_MSOA_coord_dict[msoaID] = {"lat": lat, "lng": lon}
all_MSOA_coord_df = pd.DataFrame(all_MSOA_coord_dict).T
all_MSOA_coord_df = all_MSOA_coord_df.reset_index()

all_MSOA_coord_df.columns = ['id', 'lat', 'lon']

all_MSOA_coord_df['geometry'] = all_MSOA_coord_df.apply(lambda row: Point(row['lon'], row['lat']), axis=1)
all_MSOA_gdf = gpd.GeoDataFrame(all_MSOA_coord_df, geometry='geometry')
all_MSOA_gdf.set_crs(epsg=4326, inplace=True)

             id        lat       lon                   geometry
0     E02000318  51.488265  0.095618   POINT (0.09562 51.48827)
1     E02000388  51.483157 -0.198445  POINT (-0.19845 51.48316)
2     E02000652  51.415041 -0.138046  POINT (-0.13805 51.41504)
3     E02000963  51.529079 -0.209371  POINT (-0.20937 51.52908)
4     E02000651  51.419153 -0.125942  POINT (-0.12594 51.41915)
...         ...        ...       ...                        ...
997   E02000481  51.558124  0.293234   POINT (0.29323 51.55812)
998   E02000885  51.512556 -0.053381  POINT (-0.05338 51.51256)
999   E02000674  51.441193 -0.001961  POINT (-0.00196 51.44119)
1000  E02000975  51.514949 -0.179854  POINT (-0.17985 51.51495)
1001  E02000211  51.383183 -0.046850  POINT (-0.04685 51.38318)

[1002 rows x 4 columns]

The blow is extra code to get the distance:

In [12]:
all_MSOA_gdf.loc[all_MSOA_gdf['id'] == 'E02000372', 'lat'] = 51.51645884386242
all_MSOA_gdf.loc[all_MSOA_gdf['id'] == 'E02000372', 'lon'] = -0.23745145532614184

In [13]:
# Set up the R5 network
osm_file = r'/mnt/d/Downloads/greater-london-latest.osm.pbf'
r5_network = r5py.TransportNetwork(osm_file)

In [14]:
from r5py import DetailedItinerariesComputer

In [23]:
from r5py import DetailedItinerariesComputer
from r5py import TransportMode

travel_details_matrix_computer = DetailedItinerariesComputer(
    r5_network,
    origins=all_MSOA_gdf,
    destinations=all_MSOA_gdf,
    departure=datetime.datetime(2024, 7, 23, 7, 30),
    transport_modes=[TransportMode.CAR],
    
    # With following attempts to snap all origin and destination points to the transport network before routing
    snap_to_network=True
)

# Compute the travel time matrix
travel_details_all = travel_details_matrix_computer.compute_travel_details()

java.util.NoSuchElementException: java.util.NoSuchElementException

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.hsqldb.persist.RAFileNIO (file:/home/mengyuwsl/.cache/r5py/r5-v6.9-all.jar) to method java.nio.DirectByteBuffer.cleaner()
WARNING: Please consider reporting this to the maintainers of org.hsqldb.persist.RAFileNIO
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release

Turned out running R5 with distance calculated can be a bit difficult:

1. Needs GTFS file to run the DetailedItinerariesComputer function.
2. Random NaNs that is not fillable.

A mixup here, travel detials all matrix is actually not a matrix, need to rename it properly. I'll save this one to the csv file as raw data for extracting the distance calculated by R5 first.

The above is an attempt to get distance

Step 4 Query the missing travel time with the same parameter:

In [15]:
origins_list = [x[0] for x in nan_indices]

In [16]:
dest_list = [x[1] for x in nan_indices]

The root cause of this problem:

MSOA centroid in a park too far from network,

Solution:
use the R5 "snap to network" method:

In [17]:
# Set up the R5 network
osm_file = r'/mnt/d/Downloads/greater-london-latest.osm.pbf'
r5_network = r5py.TransportNetwork(osm_file)

In [18]:
origin_gdf = all_MSOA_gdf[all_MSOA_gdf['id'].isin(origins_list)]
dest_gdf = all_MSOA_gdf[all_MSOA_gdf['id'].isin(dest_list)]

In [19]:
origin_gdf.head()

            id        lat       lon                   geometry
702  E02000372  51.522036 -0.237708  POINT (-0.23771 51.52204)

In [21]:
dest_gdf.shape

(873, 4)

snap to network

In [22]:
#origin_gdf["snapped_geometry"] = r5_network.snap_to_network(origin_gdf["geometry"])
origin_gdf["snapped_geometry"] = r5_network.snap_to_network(origin_gdf["geometry"], 
                                                            radius=150, 
                                                            street_mode=r5py.TransportMode.CAR,
)

/home/mengyuwsl/.local/lib/python3.10/site-packages/geopandas/geodataframe.py:1543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)

In [26]:
# create a copy of origins gpf named snapped_origin_gdf, where geometry is snapped_geometry:
snapped_origin_gdf = origin_gdf.copy()

# modify the lat and lon column to match the value in snapped_geometry
snapped_origin_gdf['lat'] = snapped_origin_gdf['snapped_geometry'].apply(lambda x: x.y)
snapped_origin_gdf['lon'] = snapped_origin_gdf['snapped_geometry'].apply(lambda x: x.x)

# drop geometry column
snapped_origin_gdf.drop(columns=['geometry'], inplace=True)

# rename snapped_geometry to geometry
snapped_origin_gdf.rename(columns={'snapped_geometry': 'geometry'}, inplace=True)

In [27]:
snapped_origin_gdf.head()

            id       lat       lon                   geometry
702  E02000372  51.52163 -0.239274  POINT (-0.23927 51.52163)

In [30]:
# change lat to 51.5198233902299 and lon to -0.23759461725201525
# 51.51645884386242, -0.23745145532614184
snapped_origin_gdf.loc[snapped_origin_gdf['id'] == 'E02000372', 'lat'] = 51.51645884386242
snapped_origin_gdf.loc[snapped_origin_gdf['id'] == 'E02000372', 'lon'] = -0.23745145532614184

# now change geometry to the new lat and lon
snapped_origin_gdf['geometry'] = snapped_origin_gdf.apply(lambda row: Point(row['lon'], row['lat']), axis=1)

In [31]:
snapped_origin_gdf.head()

            id        lat       lon                   geometry
702  E02000372  51.516459 -0.237451  POINT (-0.23745 51.51646)

In [25]:
# make a copy of all_MSOA_gdf:
all_msoa_gdf_copy= all_MSOA_gdf.copy()

# replace the id = 'E02000372' row with snapped geometry the value from snapped_origin_gdf:
all_msoa_gdf_copy.loc[all_msoa_gdf_copy['id'] == 'E02000372', 'geometry'] = snapped_origin_gdf['geometry'].values[0]
all_msoa_gdf_copy.loc[all_msoa_gdf_copy['id'] == 'E02000372', 'lat'] = snapped_origin_gdf['lat'].values[0]
all_msoa_gdf_copy.loc[all_msoa_gdf_copy['id'] == 'E02000372', 'lon'] = snapped_origin_gdf['lon'].values[0]

In [26]:
#check if the geometry is replaced:
all_msoa_gdf_copy.loc[all_msoa_gdf_copy['id'] == 'E02000372']

            id        lat       lon                   geometry
702  E02000372  51.519823 -0.237595  POINT (-0.23759 51.51982)

now re-calculate our all-to-all again:

# this is the corret nan handling:

In [43]:
# Initialize the travel time matrix computer
ttm_computer = TravelTimeMatrixComputer(
    r5_network,
    origins=snapped_origin_gdf,
    destinations=dest_gdf,
    departure=datetime.datetime(2024, 7, 23, 7, 30),
    transport_modes=["CAR"]
    #snap_to_network = True
    
)

# Compute the travel time matrix
travel_time_nan_matrix = ttm_computer.compute_travel_times()

# Convert the travel time matrix to a DataFrame
travel_time_nan_df = pd.DataFrame(travel_time_nan_matrix)

In [44]:
# calcul total number of nans:
print(travel_time_nan_df.isnull().sum().sum())

0

In [45]:
travel_time_nan_df.head()

     from_id      to_id  travel_time
0  E02000372  E02000318           57
1  E02000372  E02000652           34
2  E02000372  E02000651           34
3  E02000372  E02000216           50
4  E02000372  E02000746           47

In [47]:
# make a copy:
r5TTM_copy = r5TTM.copy()

## now put the pairs back:

In [48]:
#	E02000372

# get the row from r5TTM_copy where index is E02000372:
r5TTM_copy.loc['E02000372']

E02000001   NaN
E02000002   NaN
E02000003   NaN
E02000004   NaN
E02000005   NaN
             ..
E02007111   NaN
E02007112   NaN
E02007113   NaN
E02007114   NaN
E02007115   NaN
Name: E02000372, Length: 1002, dtype: float64

In [49]:
# within this column if the column index matches the destID, replace the value with the value from travel_time_nan_df:
for idx, row in travel_time_nan_df.iterrows():
    r5_index = row['from_id']
    col_index = row['to_id']
    value = row['travel_time']
    # Only replace if the current value is NaN
    if pd.isna(r5TTM_copy.at[r5_index, col_index]):
        r5TTM_copy.at[r5_index, col_index] = value

In [109]:
for _, row in travel_time_nan_df.iterrows():
    from_id = row["from_id"]
    to_id = row["to_id"]
    travel_time = row["travel_time"]
    if from_id in r5TTM_copy.index and to_id in r5TTM_copy.columns:
        r5TTM_copy.loc[from_id, to_id] = travel_time

In [41]:
# count total number of nulls in r5TTM_copy:
print(r5TTM_copy.isnull().sum().sum())

0

In [50]:
# Save results to a CSV file:
r5TTM_copy.to_csv("ttm_r5py_nan_handled.csv", index=True)

In [51]:
#show column from_id == 'E02000372'
travel_time_nan_df[travel_time_nan_df['from_id'] == 'E02000372']

       from_id      to_id  travel_time
0    E02000372  E02000318           57
1    E02000372  E02000652           34
2    E02000372  E02000651           34
3    E02000372  E02000216           50
4    E02000372  E02000746           47
..         ...        ...          ...
868  E02000372  E02000865           35
869  E02000372  E02000481           66
870  E02000372  E02000885           36
871  E02000372  E02000674           50
872  E02000372  E02000211           50

[873 rows x 3 columns]

In [116]:
r5TTM_copy.loc['E02000372', 'E02000652']

34.0

In [79]:
origin_gdf

            id        lat       lon                   geometry
702  E02000372  51.522036 -0.237708  POINT (-0.23771 51.52204)

In [80]:
dest_gdf.head()

          id        lat       lon                   geometry
0  E02000318  51.488265  0.095618   POINT (0.09562 51.48827)
2  E02000652  51.415041 -0.138046  POINT (-0.13805 51.41504)
4  E02000651  51.419153 -0.125942  POINT (-0.12594 51.41915)
5  E02000216  51.369492 -0.077637  POINT (-0.07764 51.36949)
6  E02000746  51.516202  0.077463   POINT (0.07746 51.51620)

In [112]:
travel_time_nan_df

       from_id      to_id  travel_time
0    E02000372  E02000318           58
1    E02000372  E02000652           34
2    E02000372  E02000651           35
3    E02000372  E02000216           50
4    E02000372  E02000746           47
..         ...        ...          ...
868  E02000372  E02000865           36
869  E02000372  E02000481           65
870  E02000372  E02000885           36
871  E02000372  E02000674           51
872  E02000372  E02000211           50

[873 rows x 3 columns]

In [46]:
# calculate number of unique values in the travel time nan df column from_id:
travel_time_nan_df['from_id'].nunique()

1

In [82]:
from r5py import TransportNetwork, RegionalTask, TravelTimeMatrixComputer#, TravelDistanceMatrixComputer
# Define the origin and destination coordinates (latitude, longitude)
origin = Point(-0.237708,51.522036)  # Example: New York, Empire State Building
destination = (51.488265, 0.095618)  # Example: New York, One World Trade Center51.522036	-0.237708
origin_point = origin_gdf.geometry.iloc[0]

# Create a RegionalTask for the query
task = TravelTimeMatrixComputer(
    r5_network,
    origin=origin_gdf,  # Modified keyword argument from 'origins' to 'origin'
    destinations=dest_gdf,  # Modified keyword argument from 'destinations' to 'destination'
    departure=datetime.datetime(2024, 7, 23, 7, 30),  # Define departure time
    transport_modes=["CAR"],  # Mode of transportation
    
)

# Create a TravelTimeMatrixComputer to compute travel times
#computer = TravelTimeMatrixComputer(r5_network, task)

# Compute the travel times
#travel_times = computer.compute_travel_times()

travel_times = task.compute_travel_times()

# Extract and display the travel time for the query
travel_time = travel_times[0][0]
print(f"Travel time from origin to destination: {travel_time} minutes")

TypeError: r5py.r5.regional_task.RegionalTask() got multiple values for keyword argument 'origin'

In [ ]:
# Initialize the travel time matrix computer
ttm_computer = TravelTimeMatrixComputer(
    r5_network,
    origins=all_msoa_gdf_copy,
    destinations=all_msoa_gdf_copy,
    departure=datetime.datetime(2024, 7, 23, 7, 30),
    transport_modes=["CAR"]
)

# Compute the travel time matrix
travel_time_matrix = ttm_computer.compute_travel_times()

# Convert the travel time matrix to a DataFrame
travel_time_df = pd.DataFrame(travel_time_matrix)

# check the total number of nans:
print(travel_time_df.isnull().sum().sum())